{
  "presets": [
    "react",
    "es2015",
    "es2017"
  ],
  "plugins": [
    "transform-runtime",
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-object-rest-spread"
  ]
}
